mixin section-new-arrivals
  section.section-new-arrivals
    h2.h2 New Arrivals
    .row
      .products-box
        +product('Phanter Pink T-shirt', 'Sunny', '$34', 'product-5',  true)
        +product('Leather jacket', 'Modern Mood', '$72', 'product-6', true)
        +product('Tucan Jacket', 'Modern Mood', '$58', 'product-7', true)
        +product('Denim Shirt', 'Sunny', '$39', 'product-8', true)
