mixin section-social-proof
  section.section-social-proof
    .glide.social-proof-icon-box
      .glide__track(data-glide-el="track")
        .glide__slides
          .social-proof-icon.glide__slide
            +svg('the-north-face')
          .social-proof-icon.glide__slide
            +svg('adidas')
          .social-proof-icon.glide__slide
            +svg('new-balance')
          .social-proof-icon.glide__slide
            +svg('carhartt')
          .social-proof-icon.glide__slide
            +svg('stussy')
          .social-proof-icon.glide__slide
            +svg('puma')
        
