mixin section-value-proposition
  section.section-vaule-proposition 
    .value-proposition
      .row
        .value-proposition__text
          .jumbo T-shirts are back
          p.p With sun and heat just around the corner, our new tees arrive at our shop.  
          a(href="javascript:void:0").btn Shop Now
        
        .value-proposition__img
      
    
  
