mixin section-popular-products
  section.section-popular-products
    h2.h2 Popular products
    .row
      .products-box
        +product('Cotton T-shirt', 'Essentials', '$54', 'product-1', true)
        +product('Classic Jacket', 'Core', '$68', 'product-2')
        +product('Bomber Jacket', 'Core', '$72', 'product-3')
        +product('Night Vision Jacket', 'Essentials', '$43', 'product-4', true)
      
      
