a
  &:link,
  &:visited
    display: inline-block
    text-decoration: none
    transition: all $transition-duration-base $transition-timing-base
    @extend %u-text-link

  &:active, &:hover
    outline-width: 0

.btn
  &:link,
  &:visited
    padding: 2rem 4rem
    color: #fff
    background-color: $color-interactive

  &:hover
    background-color: $color-interactive-dark

  +modifier('white')
    &:link,
    &:visited
      color: $color-interactive
      background-color: #fff
      white-space: nowrap

    &:hover
      background-color: $color-interactive
      color: white


.btn-text
  &:link,
  &:visited
    color: $color-gray-scale-darker

  &:hover
    color: $color-interactive
